jieba3k
lxml
Pillow
pytest
flask
Flask-SQLAlchemy
SQLAlchemy-FullText-Search
mysqlclient
regex
feedparser
requests
newspaper3k==0.2.7
Faker
requests_mock
nltk
langdetect
sortedcontainers
mysql-connector-python
elasticsearch
pyphen
numpy
-e git+https://github.com/zeeguu-ecosystem/python-wordstats.git@master#egg=wordstats
